Flask==2.3.2
gunicorn==21.2.0
numpy==1.24.3
pandas==1.5.3
pep8==1.7.1
Pillow==9.4.0
ply==3.11
pycurl==7.45.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
queuelib==1.5.0
requests==2.26.0
scikit-learn==1.2.2
scipy==1.10.0
types-PyYAML==6.0.12.11
types-requests==2.30.0.0
types-urllib3==1.26.25.14
typing_extensions==4.5.0
webencodings==0.5.1
